body, html {
  font-size: 62.5%;
  font-family: 'HelveticaNeue-Light', Georgia, Serif;
}

image {
	left: 10px;
	position: relative;
}

footer {
	font-size: 1rem;
	font-color: DarkGrey;
}

footer a:visited {
	color: DarkGrey;
}
form {
	font-size: 2rem;
	display: flex;
}

form input:hover {
	font-size: 3rem;
	font-color: DarkGrey;
}
.norm-paragraph {
  color: orange;
  font-size: 1.2rem;
}

#piperSection1 {
  text-align: justify;
  padding: 10px;
}
#piperSection2 {
  text-align: left;
  padding: 12px;
}
#piperSection3 {
  text-align: right;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul  a {
  color: red;
  font-size: 1.5rem;
  font-style: none;
}